{% extends "base.html" %}

{% block content %}
<script src="/static/js/main.js"></script>
<a name="anchor"></a>
<div class="action_header">
    <h1>{{ child }}</h1>
</div>

<div class="wrapper">
    <div class="subwrapper">
    <a href="{% url 'in_list' visit_id=visit_id %}#anchor" class="box">Feeding</a>
    </div>
    <div class="subwrapper">
    {% if open_nap|length >= 1 %}
        <a href="{% url 'nap_out' activity_id=open_nap.0.id %}" class="box nap-out">End Nap</a>
    {% else %}
        <a href="{% url 'nap_in' visit_id=visit_id %}" class="box nap-in">Start Nap</a>
    {% endif %}
    </div>

    <div class="foodbox" ><button onclick="myDiaperFunction()" class="dropButton">Diaper</button>
    
        <div id="diaperChoices" class="dropdownContent">
            <form id="diaper_form" method="POST" action="{% url 'diaper' visit_id=visit_id %}">{% csrf_token %}
                <div class="choicewrapper">
                <button class="choicebutton" name="diaper_choice" value="Dry"> Dry </button>
                <button class="choicebutton" name="diaper_choice" value="Wet"> Wet </button>
                <button class="choicebutton" name="diaper_choice" value="Dirty"> Dirty </button>
                </div>    
            </form>
        </div>
    
    </div>
    <div class="subwrapper">
    <a href="{% url 'action_summary' visit_id=visit_id %}" class="box">Comments</a>
    </div>
</div>

{% endblock %}