<!DOCTYPE html>
{% block content %}

<h1>Daily Summary for {{child}}</h1>

<h3>{{ visit.check_in|date:"D d M Y" }}</h3>

<p><strong>Comments: {{ comment|linebreaks }}</strong></p><br>

<p><strong>Check In:</strong> {{ visit.check_in|date:"h:i a" }}

{% for input in inputs %}
    <p><strong>Fed:</strong> {{ input.start_time|date:"h:i a"}} | {{ input.subtype }}</p>
{% endfor %}
{% for nap in naps %}
    <p><strong>Nap:</strong> {{ nap.start_time|date:"h:i a" }} - {{ nap.end_time|date:"h:i a"}}</p>
{% endfor %}
{% for output in outputs %}
    <p><strong>Diaper change:</strong> {{output.start_time|date:"h:i a" }} | {{ output.subtype_option }}</p>
{% endfor%}

<p><strong>Check Out:</strong> {{ visit.check_out|date:"h:i a"}}

<h3>Sincerely,<br>
WeeCare Team</h3>

{% endblock %}
