<!DOCTYPE html>

<h1>Daily Summary - {{child}}</h1>
<h3>{{ visit.check_in|date:"D d M Y" }}</h3>
{% for nap in naps %}
    {{ time }}
    <p>Nap Start: {{ nap.start_time|date:"h:i a" }}</p>
    <p>Nap End: {{ nap.end_time|date:"h:i a" }}</p>
{% endfor %}
{% for output in outputs %}
    <p>Diaper change time: {{output.start_time|date:"h:i a" }} | Contents: #{{ output.subtype }}</p>
{% endfor%}
{% for input in inputs %}
    <p>Feeding time: {{ input.start_time|date:"h:i a"}} | {{ input.subtype }}</p>
{% endfor %}

<p>Sincerely,</p>
<p>Team (name TBD)</p>

{% endblock %}
