<!DOCTYPE html>
{% block content %}

<h1>Daily Summary for {{child}}</h1><br>

<img src="/static/css/WeeCare_logo.png" style="width:100px; height:auto"><br>

<h3>{{ visit.check_in|date:"D d M Y" }}</h3>

<p><strong>Comments: {{ comment|linebreaks }}</strong></p>

<p><strong>Check In:</strong> {{ visit.check_in|date:"h:i a" }}

{% for nap in naps %}
    <p><strong>Nap:</strong> {{ nap.start_time|date:"h:i a" }} - {{ nap.end_time|date:"h:i a"}}</p>
{% endfor %}
{% for input in inputs %}
    <p><strong>Feeding time:</strong> {{ input.start_time|date:"h:i a"}} | {{ input.subtype }}</p>
{% endfor %}
{% for output in outputs %}
    <p><strong>Diaper change time:</strong> {{output.start_time|date:"h:i a" }} | {{ output.subtype_option }}</p>
{% endfor%}

<p><strong>Check Out:</strong> {{ visit.check_out|date:"h:i a"}}

<p>Sincerely,</p>
<p>WeeCare Team</p>

{% endblock %}
