{% extends "base.html" %}

{% block content %}
<script src="/static/js/main.js"></script>

<div class="wrapper">
   
    <div class="box foodbox" ><button onclick="myFunction()" class="dropButton">Bottle</button>
    
    <div id="foodChoices" class="dropdownContent">
    <form id="bottle_form" method="POST" action="{% url 'bottle' visit_id=visit_id %}">{% csrf_token %}
        
    <button name="bottle_choice" value="All">All</button>
    <button name="bottle_choice" value="1oz">1oz</button>
    <button name="bottle_choice" value="2oz">2oz</button>
    <button name="bottle_choice" value="3oz">3oz</button>
        
    </form>
    </div>
    
    </div>
    <div class="box"><a href="#" onclick="submitNurseForm();">Nurse</a>
    <form id="nurse_form" method="POST" action="{% url 'nurse' visit_id=visit_id %}" class="mv3 w-60 ph5 georgia">{% csrf_token %}
        <div class="choices" >
        <input type="radio" name="nurse_choice" value="10min">10min<br>
        <input type="radio" name="nurse_choice" value="20min">20min<br>
        <input type="radio" name="nurse_choice" value="30min">30min<br>
        </div>
    </form></div>


    <div class="box"><a href="#" onclick="submitFoodForm();">Food</a>
    <form id="food_form" method="POST" action="{% url 'food' visit_id=visit_id %}" class="mv3 w-60 ph5 georgia">{% csrf_token %}
        <div class="choices" >
        <input type="radio" name="food_choice" value="None">None<br>
        <input type="radio" name="food_choice" value="Liked">Liked it<br>
        <input type="radio" name="food_choice" value="Loved">Loved it<br>
        </div>
    </form></div>
</div>

{% endblock %}