{% extends "base.html" %}

{% block content %}

<div class="wrapper">
   
    <div class="box" ><a href="{% url 'bottle' visit_id=visit_id %}">Bottle</a>
    <form method="POST" action="{% url 'bottle' visit_id=visit_id %}" class="mv3 w-60 ph5 georgia">
        <select id = "choices">
            <option value = "All">drank all</option>
            <option value = "1oz left">left 1oz</option>
            <option value = "2oz left">left 2oz</option>
            <option value = "3oz left">left 3oz</option>
        </select>
    </form>
    </div>
    <div class="box">Nurse</div>
    <div class="box">Food</div>
</div>

{% endblock %}