{% extends "base.html" %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}

    <div class="wrapper">
        {% for child in children %} 
            {% if iscaregiver %}
            <div class="subwrapper">
            <div class="buttonwrapper">
                {% if child.visit|length >= 1 %}
                    <a href="{% url 'action_list' visit_id=child.visit.0.id %}">
                {% endif %}
                <div class="box">
        
                {{ child.full_name }} <img src="static/pics/{{child.child_pic}}">
                </div></a>
                {% if child.visit|length >= 1 %}
                    <a href="{% url 'check_out' visit_id=child.visit.0.id %}"><button class="checkbutton out">Check out</button></a>
                {% else %}
                
                    <a href="{% url 'check_in' child_id=child.child_id %}"><button class="checkbutton in">Check in</button></a>
                {% endif %} 
            </div>
            {% endif %}
            </div>
            
            
        {% endfor %}

    
    </div>

{% else %}
        <div class="welcome"><h4><a href="{% url 'account_login' %}">
{% endif %}



{% endblock %}