{% extends "base.html" %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}

    <div class="wrapper">
        {% for child in children %} 

            <div class="box">
            {% if child.visit|length == 1 %}
                {{ child.visit.0.id }}<a href="{% url 'activity_list' visit_id=child.visit.0.id %}">
            {% endif %}
            
            {{ child.full_name }}</a></div>
            {% if child.visit|length == 1 %}
                Check out
            {% else %}
                Check in
            {% endif %}    
        {% endfor %}
    </div>

{% else %}
        <div class="welcome"><h4><a href="{% url 'account_login' %}">
{% endif %}



{% endblock %}