{% extends "base.html" %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}

    <div class="wrapper tc flex-ns flex-wrap justify-around">
        {% for child in children %} 
            {% if iscaregiver %}
                <div class="box ba bw3 w-30-ns mb3 h5">
                {% if child.visit|length >= 1 %}
                    <a href="{% url 'action_list' visit_id=child.visit.0.id %}">
                {% endif %}
                
                {{ child.full_name }}</a>
                {% if child.visit|length >= 1 %}
                    <div class="check-out ma1" ><a href="{% url 'check_out' visit_id=child.visit.0.id %}"><button>Check out</button></a></div>
                {% else %}
                
                    <div class="check-in ma1" ><a href="{% url 'check_in' child_id=child.child_id %}"><button>Check in</button></a></div>
                {% endif %}  
                </div> 
            {% endif %}

        {% endfor %}

    
    </div>

{% else %}
        <div class="welcome"><h4><a href="{% url 'account_login' %}">
{% endif %}



{% endblock %}