* {
    font-family: 'Short Stack', cursive;
    
}

.tag_line {
    font-size: 25px;
    font-style: italic; 
    text-align: center;
}

a, u {
    text-decoration: none;
}

form {
    border-bottom: 1px dotted black;
    padding-bottom: 1rem;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.wrapper {
    

    border-radius: 7px;
    justify-content: center;
}

.checkbutton {
    background-color: #ff583e;
    border: none;
    color: white;
    padding: 15px 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}

.in {
    background-color:yellow;
    color:black;
}

.out {
    background-color:purple;
}

.choicebutton {

    background-color: #ff583e;
    border: none;
    color: white;
    margin: 15px;
    padding: 25px;
    width:15rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 20px;
}
    

.dropButton {
    
    display: block;
    justify-content: center;
    width:255.46px;
    height: 153px;
    color: white;
    
    border-radius: 20px;
    margin: 40px 60px 5px 60px;
    padding: 25px;
    padding-top: 12px;
    text-align: center;
    background-color: purple;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;


    
}

.dropButton:hover {
    background-color: #f99d02;
    color:white;
    transition: all .3s ease;
}

.foodbox {
    display:flex;
    justify-content:center;
    position: relative;
    
}

.dropdownContent {
    display: none;

    justify-content: center;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30px;
}

.choicewrapper {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.show {
    display:block;
}
  
.subwrapper {
    display: flex;
    justify-content:center;
}

.box {
    display: block;
    justify-content: center;
    width:200px;
    height: 80px;
    color: white;
    
    border-radius: 20px;
    margin: 40px 60px 5px 60px;
    padding: 25px;
    padding-top: 45px;
    text-align: center;
    background-color: purple;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;

}

.box:hover {
    background-color: #f99d02;
    color:white;
    transition: all .3s ease;
}
/* 
.header {
    border-style: ridge;
    border-color: black;
    border-radius: 30px;
    margin: 15px;

} */

.title_bar {
    /* text-align: center; */
    /* padding: 2px; */
    /* vertical-align: middle; */
}

.home {
    text-align: center;
    /* font-size: 50px */
    margin: 0;
    /* padding-top: 2px; */
}

.base_bar {
    background-color: #96E9F9;
    width: 100%; height: 60px;
    margin-bottom: 35px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.login {
   text-align: flex none;
    font-size: 25px;
    color: black;
}

.username {
    text-align: flex none;
    font-size: 25px;
    color: white;
}

.action_header {
    text-align: center;
}

#id_comment {
    width: 50%;
}


.messages {
    text-align: center;
    position: relative;
    font-size: 18px;
}


@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

