* {
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
    
    border-style:dotted;
    border-radius: 7px;
    
    justify-content: space-evenly;
}
  
.box {
    
    height: 80px;
    border-style: groove;
    border-color: red;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    padding-top: 75px;
    text-align: center;
    
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
  
.box:hover {
    border: solid;
    background-color: lightgreen;
    color:rgb(241, 83, 10);
    transition: all .3s ease;
}

.header {
    border-style: ridge;
    border-color: black;
    border-radius: 30px;
    margin: 15px;

}

.title_bar {
    
    justify-content: space-between;
    padding: 15px;
}

.title {
    width: 50%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 15%;
    }

    .title_bar {
        display: flex;
    }
}

body{
    padding: 1rem;
}