
.wrapper {
    
    border-style:dotted;
    border-radius: 7px;
    
    justify-content: space-evenly;
}
  
.box {
    
    height: 80px;
    border-style: groove;
    border-color: red;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    padding-top: 75px;
    text-align: center;
    transition: all .3s ease;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
  
.box:hover {
    border: solid;
    background-color: lightgreen;
    color:white;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 15%;
    }
}